* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.app {
  display: grid;
  grid-template-rows: 30px 40px 30px auto;
  grid-template-areas:
    "firstBar"
    "secondBar"
    "thirdBar"
    "banner";
}

.firstBar {
  font: normal normal normal 14px/20px Soleil;
  letter-spacing: 0px;
  color: #62686a;
  opacity: 1;
  background: #f4f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-area: firstBar;
}

.secondBar {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-area: secondBar;
}

.thirdBar {
  background: #f4f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-area: thirdBar;
}

.banner {
  grid-area: banner;
}

.firstBar-container {
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 15% 25% auto 25% 15%;
  grid-template-areas: "fbl shipping . store fbr";
}

.fbl {
  grid-area: left;
}

.fbr {
  grid-area: right;
}

.shipping {
  grid-area: shipping;
  align-self: center;
  padding-left: 20px;
}

.store {
  grid-area: store;
  align-self: center;
  justify-self: end;
  padding-right: 20px;
}

.secondBar-container {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 15% 25% auto 25% 15%;
  grid-template-areas: "sbl logo search sign-in sbr";
}

.sbl {
  grid-area: sbl;
}

.sbr {
  grid-area: sbr;
}

.logo {
  width: 150px;
  height: 30px;
  grid-area: logo;
  align-self: center;
  padding-left: 22px;
}

.search {
  grid-area: search;
  align-self: center;
  padding-top: 15px;
}

.sign-in {
  grid-area: sign-in;
  align-self: center;
  justify-self: end;
  padding-right: 22px;
}

.tg-nav {
  display: flex;
  justify-content: center;
  z-index: 2;
  text-align: left;
  font: normal normal normal 16px/20px Soleil;
  letter-spacing: 0px;
  color: #353839;
  opacity: 1;
  font-size: 22px;
  font-weight: bold;
}

.tg-navigation {
  float: left;
  padding: 2px;
  line-height: inherit;
}

.tg-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: inherit;
}

.tg-navigation > ul {
  width: 100%;
  float: left;
}

.tg-navigation ul li {
  line-height: inherit;
  list-style-type: none;
}

.tg-navigation > ul > li {
  float: left;
}

.tg-navigation ul li a {
  color: #666;
  display: block;
  padding: 0 25px;
  position: relative;
  line-height: inherit;
}

/* .searchBar {
  padding-top: 15px;
} */

.banner-container {
  display: grid;
  grid-template-rows: auto 935px auto;
  grid-template-columns: auto 1300px auto;
  grid-template-areas: "first second third";
}

.banner-column-one {
  grid-area: first;
}

.banner-column-two {
  grid-area: second;
}

.banner-column-three {
  grid-area: third;
}

.hotels-container {
  display: grid;
  grid-template-rows: 40px 80px 40px;
  grid-template-areas: "heading" "logos" "view";
  background-color: #f4f5f5;
}

.heading {
  grid-area: heading;
  justify-self: center;
  align-self: center;
  color: #353839;
}

.logos {
  grid-area: logos;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
}

.view {
  grid-area: view;
  justify-self: center;
  align-self: center;
  color: #353839;
  padding-top: 60px;
  padding-bottom: 60px;
}

.pop-container {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 200px 200px auto;
  grid-template-areas: "search category recommended";
}

.suggested-search {
  grid-area: search;
  font: normal normal normal 14px/21px Soleil;
  color: #505050;
}

.suggested-category {
  grid-area: category;
  font: normal normal normal 14px/21px Soleil;
  color: #505050;
}

.recommended {
  grid-area: recommended;
  font: normal normal normal 14px/21px Soleil;
  color: #505050;
}

#popover-basic {
  max-width: none !important;
  width: 1600px !important;
}

.pop-heading {
  font-weight: bold;
  font-size: 17px;
}

.pop-span {
  font-weight: bold;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recs-container {
  display: grid;
  grid-template-areas: "firstf secondf thirdf fourthf";
}

.firstf {
  grid-area: firstf;
}

.secondf {
  grid-area: secondf;
}

.thirdf {
  grid-area: thirdf;
}

.fourthf {
  grid-area: fourthf;
}
